<div class="mt-4">
    <form method="post" action="">
        <div class="form-group">
            <label for="search-input">Values search</label>
            <input type="text" name="query" class="form-control" id="search-input"
                   placeholder="Typing values">
        </div>

        <div class="form-group">
            <label for="gender-input">Values search</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">--- select gender ---</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>